* {
    box-sizing: border-box;
    
}

body {
    background-color: #EEF9BF;
    
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    margin-top: 40px;
    text-align: center;
}

main {
    /*background-color: red;*/
    margin: 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    max-width: 1060px;
}

section {
    /*background-color: blue;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;    
}

.card {
    position: relative;
    height: 146px;
    width: 117px;
    margin: 17px;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face { /*back-face começa escondido*/
    transform: rotateY(180deg);
}

.active.back-face { /*ativado: back-face vai pra frente*/
    transform: rotateY(0deg);
}

.active.front-face { /*ativado: front-face vai pra trás*/
    transform: rotateY(-180deg);
}

.card img {
    height: 100px;
    width: 100px;
}

.display-none {
    display: none;
}


@media (max-width: 614px){
    
    h1 {
        font-size: 36px;
        line-height: 42px;
    }

    main {
        height: auto;
        max-width: 117px;
      
    }

    section {
        max-width: 117px;
        flex-wrap: wrap;
    }

    .card {
        margin-bottom: 34px;
    }

}